*~
*.pyc
*.vcd
__pycache__
build/
doc/
tests/output
tests/*orocos.*.txt
tests/model1
tests/taste2rock_test1
tests/model1_clean/build-script.sh.old
tests/model1_clean/binary.c
tests/model1_clean/debug
tests/model1_clean/*.zip
tests/model1_clean/*.pro
tests/model1_clean/*.md5
tests/model1_clean/DataView.aadl
tests/model1_clean/__*.aadl
tests/model1_clean/.*
